#wrapperEditorGrade {
    width: 100%;
    height: calc(100% - 6em);
    position: relative;
}
.grade {
    display: inline-grid;
    transform-origin: 0% 0%;
    scroll-behavior: smooth;
    padding-right: 1em;
    padding-bottom: 1em;
    overflow: hidden;
}
.grade * {
    position: relative;
    border-right: 1px solid #0001;
    border-bottom: 1px solid #0002;
    user-select: none;
}
.grade .dia {
    display: grid;
}
.grade .horario {
    padding: 0.5em;
    text-align: center;
    background-color: #FFF;
    z-index: 8;
}
.grade .horario.intervalo {
    background-color: #EEE;
    font-size: 0.75em;
}
.grade .horario.fim {
    background-color: #CCC;
    font-size: 0.75em;
}
.grade .campo {
    padding: 0.5em;
    cursor: cell;
    background-image: linear-gradient(-45deg, #F8F8F8 0%, #F8F8F8 75%, transparent);
}
.grade .campo.intervalo {
    background-color: #EEE;
    font-size: 0.75em;
    background-image: none;
}
.grade .campo.fim {
    background-color: #CCC;
    background-image: none;
}
.grade .campo.dragOver {
    outline: 2px dashed #BBB;
    outline-offset: -0.5em;
}
.grade .campo.erro {
    outline: 3px solid #F00;
    animation: campoErro 1s infinite;
    font-weight: bold;
    z-index: 1;
}
@keyframes campoErro {
    0% {
        outline-width: 1px;
    }
    50% {
        outline-width: 5px;
    }
    100% {
        outline-width: 1px;
    }
}
.grade .campo.destaqueAlerta {
    outline: 3px dotted #417ac5;
    animation: campoDestaque 1s infinite;
    z-index: 1;
}
@keyframes campoDestaque {
    0% {
        outline-color: #9ac4fa;
        outline-offset: 10em;
    }
    100% {
        outline-color: #154e97;
        outline-offset: 0em;
    }
    
}
.grade .campo.filtro {
    filter: invert(1);
    z-index: 1;
}
.grade .campo.desfiltro {
    filter: blur(0.5em);
}
.grade .campo b {
    pointer-events: none;
    border: none;
}
.grade .labelDia {
    text-align: center;
    width: 4em;
    padding: 0.5em;
    /*transform: rotate(-90deg);
    transform-origin: 50% 0%;
    position: relative;
    top: 50%;*/
    z-index: 8;
    background-color: #FFF;
}
.grade .turma {
    background-color: #FFF;
    z-index: 7;
    padding: 0.5em;
}
.grade .campo:hover {
    background-color: #fff;
    box-shadow: 0px 0px 2px #0004;
}
.grade .campo.selecionado {
    background-color: #9ac4fa;
    border-color: #2165bd;
    outline: 2px solid #2165bd;
}
.grade .destaque {
    background-color: #2165bd !important;
    color: #FFF;
}
.grade .labelDia.destaque {
    background-color: #417ac5 !important;
    color: #FFF;
}
#editToolbar {
    background-color: #FFF;
    height: 2.5em;
    width: calc(100% - 20em);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #BBB;
}
#editToolbar hr {
    margin: 0.5em;
}
#editToolbar p {
    margin: 0.5em;
}
#editListagens {
    width: 20em;
    height: 100%;
    background-color: #EEE;
    position: absolute;
    right: 0;
    top: 0em;
    z-index: 1;
    overflow: hidden;
    border-left: 1px solid #BBB;
}
#editListagens #abasListagens {
    display: flex;
    height: 2.5em;
    align-items: stretch;
}
#editListagens #abasListagens * {
    flex-grow: 2;
}
#editListagens .listagem {
    position: absolute;
    width: 100%;
    transition: left 0.2s;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: scroll;
    height: calc(100% - 2.5em);
    align-content: flex-start;
}
#editListagens .listagem h2 {
    flex-basis: 100%;
}
#editListagens .listagem .card {
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
    flex-grow: 2;
    border: 1px solid #BBB;
    background-color: #FFF;
    cursor: grab;
    background-image: linear-gradient(-45deg, #FFF 0%, #FFF 75%, transparent);
}
#editListagens .listagem.centralizado {
    align-content: center;
    text-align: center;
    justify-content: center;
}
#editListagens .alerta {
    border: none;
    background-color: #FFF;
    margin: 0.25em;
    padding: 0;
    border-width: 1px;
    border-left-width: 1em;
    border-style: solid;
}
#editListagens .alerta:hover {
    background-color: #417ac5;
    color: #FFF;
}
#editListagens .alerta:active {
    background-color: #154e97;
}
#editListagens .alerta legend {
    background-color: #FFF;
    padding: 0em 1em;
    font-weight: bold;
    font-size: 0.75em;
    color:#000;
}
#editListagens .alerta p {
    margin: 0.5em;
}
#editListagens .alerta.info {
    border-color: #9ac4fa;
}
#editListagens .alerta.info legend {
    background-color: #9ac4fa;
}
#editListagens .alerta.aviso {
    border-color: #ED8;
}
#editListagens .alerta.aviso legend {
    background-color: #ED8;
}
#editListagens .alerta.erro {
    border-color: #E88;
}
#editListagens .alerta.erro legend {
    background-color: #E88;
}
#editGrade {
    overflow: scroll;
    width: calc(100% - 20em);
    height: calc(100% - 2.5em);
    position: absolute;
    top: 2.5em;
    overflow: hidden;
}
.editorCampo {
    position: absolute;
    z-index: 3;
    background-color: #FFF;
    padding: 0em;
    margin: 0em;
    box-shadow: 0px 5px 10px #0004;
    border-radius: 0.5em;
    overflow: hidden;
}
.editorCampo .form input{
    width: 100%;
}
.editorCampo h2 {
    width: 100%;
    margin-left: -0.5em !important;
    margin-right: -0.5em !important;
    margin-top: -0.5em !important;
    padding-top: 0.5em !important;
}
.editorCampo h2 button {
    padding-right: 1em;
    padding-left: 0.75em;
}
.editorCampoEspecial {
    width: 1em;
    height: 1em;
    position: absolute;
    background-color: #2165bd;
    border: 1px solid #AAA;
    z-index: 2;
    margin: -0.75em;
    cursor: s-resize;
    user-select: none;
}
.editorCampoEspecial:hover {
    background-color: #417ac5;
}
@keyframes editorCampoAnim {
    0% {
        padding: 0;
        margin: 0;
        border-radius: 0em;
        box-shadow: 0px 0px 0px #000F;
    }
    100% {
        padding: 0.5em;
        margin: -0.5em;
        box-shadow: 0px 5px 10px #0004;
    }
}
#listaAdicionar {
    position: absolute;
    z-index: 15;
    box-shadow: 0px 5px 10px #0004;
}
.scroll {
    background-color: #DDD;
    position: absolute;
    width: 1em;
    height: 1em;
    z-index: 10;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.scroll.v {
    height: calc(100% - 1em);
    right: 0;
    border-left: 1px solid #CCC;
    border-bottom: 1em solid #CCC;
}
.scroll.h {
    width: calc(100% - 1em);
    bottom: 0;
    border-top: 1px solid #CCC;
    border-right: 1em solid #CCC;
}
.scroller {
    width: 1em;
    height: 1em;
    background-color: #2165bd;
    position: absolute;
    user-select: none;
}