body {
    background-color: #E8E8E8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}
.barra {
    min-height: 1em;
    padding: 0.5em;
    height: 1.5em;
    background-color: #2165bd;
    color: #F8F8F8;
    width: calc(100% - 1em);
    display: flex;
}
.barra.inv {
    background-color: #C8C8C8;
}
.barra * {
    flex-grow: 2
}
.barra p {
    margin: 0;
}
.topo {
    position: absolute;
    top: 0px;
    z-index: 2;
}
.rodape {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
button, a.botao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em;
    background-color: #2165bd;
    font-size: 1em;
    color: #F8F8F8;
    border: 1px solid #D8D8D8;
    border-radius: 0.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
button.secundario, a.botao.secundario {
    border: 1px solid #2165bd;
    background-color: #F8F8F8;
    color: #111;
}
.clicavel, button, a.botao {
    cursor: pointer;
}
.clicavel:hover, button:hover, button:focus, a.botao:hover, a.botao:focus {
    background-color: #417ac5;
    color: #FFF;
}
.clicavel:active, button:active, a.botao:active {
    background-color: #154e97;
}
button > h2, a.botao > h2 {
    margin-top: -0.25em !important;
    margin-left: -0.25em !important;
    margin-right: -0.25em !important;
    position: absolute;
    width: calc(100% -0.5em);
    top: 0px;
    left: 0px;
}
h2 > button, h2 > a.botao {
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    font-size: initial;
    border-radius: 0;
}
button[disabled], a.botao[disabled] {
    background-color: #BBB;
    cursor: unset;
}
button > img, a.botao > img {
    vertical-align: baseline;
    /* margin: 0em 0.5em; */
}
button.atencao, a.botao.atencao {
    animation: botaoAlerta 1s infinite;
    color: #FD0;
    background-color: #000;
    font-weight: bold;
}

#status {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    padding: 0 0.5em;
    margin: 0;
    background-color: #FFF4;
}
.balaoNotif {
    background-color: #ff2929;
    display: inline-block;
    width: 1em;
    border-radius: 1em;
    text-align: center;
    font-weight: bold;
    animation: balaoNotif 1s forwards;
    transform: scale(1);
    position: relative;
    z-index: 10;
}
@keyframes balaoNotif {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(2);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
}
#wrapperCalendario {
    perspective: 1000px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#calendario {
    position: absolute;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    /*animation: girar3d 5s linear infinite;*/
    width: 100%;
    height: 100%;
}
@keyframes girar3d {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.box {
    transform-style: preserve-3d;
}
.secao {
    transform-style: preserve-3d;
    position: absolute;
}
.linha {
    transform-style: preserve-3d;
}
.cubo {
    display: inline-block;
    transform-style: preserve-3d;
}
.cubo * {
    position: absolute;
    border: 1px solid #0002;
}
.cubo .c1, .cubo .c4 {
    background-color: #dcf8dc;
}
.cubo .c2, .cubo .c5 {
    background-color: #dceff8;
}
.cubo .c3, .cubo .c6 {
    background-color: #f8f5dc;
}
.cubo .header {
    background-color: transparent;
}
.cubo div:hover {
    background-color: #FFF;
}
#conteudo {
    background-color: #F8F8F8;
    padding: 3em 0em 3em;
    min-height: calc(100% - 6em);
}
#conteudo h1, #conteudo h2, #conteudo h3, #conteudo h4, #conteudo h5, #conteudo h6 {
    margin: 0em;
    padding: 0.1em 0.5em;
    border-bottom: 1px solid #154e97;
    line-break: strict;
    /* white-space: nowrap !important; */
    position: relative;
}
#conteudo h1 {
    background-color: #2165bd;
    color: #FFF;
    position: fixed;
    top:0em;
    width: calc(100% - 1em);
    text-align: left;
    padding: 0em 0.5em 0em 3.5em;
    z-index: 1;
}
#conteudo h2, #conteudo h3, #conteudo h4, #conteudo h5, #conteudo h6 {
    background-color: #2165bd30;
}
#conteudo p {
    margin: 0.5em 1em;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}
.flex > * {
    margin: 0.5em;
}
.flex.largo > * {
    flex: 1;
    position: relative;
}
.flex .largo {
    flex-basis: auto;
    flex-grow: 10;
}
.largo button {
    width: 100%;
}
.largo a.botao {
    width: calc(100% - 1em - 2px);
}
.scroller {
    /* overflow-y: auto; */
    height: 100%;
}
#conteudo .card {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.5em;
    border-radius: 0.5em;
}
span.grande {
    font-size: 3em;
}
.wrapperCalendario {
    background-color: #E8E8E8;
    padding: 1em;
    display: grid;
}
.wrapperCalendario div {
    background-color: #FFF;
    padding: 0.5em;
    border-bottom: 1px solid #EEE;
}
.wrapperCalendario div.I {
    background-color: #EEE;
    color: #444;
}
.wrapperCalendario div.F {
    border-top: 2px solid #BBB;
    background-color: transparent;
    border-bottom: none;
    color: #AAA;
}
span.form {
    /* flex-grow: 2; */
    position: relative;
}
span.form label {
    display: block;
}
span.form small {
    display: inline-block;
    margin-left: 0.5em;
}
span.form input {
    display: inline-block;
    width: auto;
}
span.form input[removivel] {
    display: inline-block;
    width: calc(100% - 3em);
}
span.form input[removivel] + button {
    width: 3em;
}
input, input[type=checkbox] + label {
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #D8D8D8;
    border-radius: 0.5em;
}
input[type=checkbox] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
input[type=checkbox] + label {
    display: inline-block;
    background-color: #FFF;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    margin: 0em 0em 0.5em;
}
input[type=checkbox]:checked + label {
    background-color: #2165bd;
    color: #F8F8F8;
}
.flex.checkbox {
    flex-wrap: nowrap;
}
.flex.checkbox input[type=checkbox] {
    flex-shrink: 2;
}
.flex.checkbox label {
    flex-grow: 2;
}


#wrapperCalendarioConfirmar {
    font-size: 0.5em;
}
.dropdown {
    background-color: #F8F8F8;
    animation: animaDropdown 0.25s forwards;
    opacity: 1;
}
@keyframes animaDropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown ul li a, .autoCompletar button {
    padding: 1em;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #C8C8C8;
    display: block;
    cursor: pointer;
    transition: background-color 0.1s;
    color: #000;
    text-decoration: none;
}
.dropdown ul li a:hover, .autoCompletar button:hover {
    background-color: #9ac4fa;   
}
.dropdown ul li a:active, .autoCompletar button:active {
    background-color: #417ac5;
}
.autoCompletar {
    position: absolute;
    z-index: 3;
    box-shadow: 0px 5px 10px #0004;
}
.autoCompletar button {
    width: 100%;
    text-align: left;
    border-radius: 0;
}
table.calendarioMes {
    text-align: center;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
}
table.calendarioMes td.outroMes {
    color: #AAA;
    background-color: #EEE;
}
table.calendarioMes td.diaAtual {
    color: #FFF;
    background-color: #2165bd;
}
ul.comunicados {
    padding-left: 2em;
    margin: 0em;
}
ul.comunicados li {
    text-align: justify;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0em;
}
img.logoInstituicao {
    width: calc(100% - 1em - 2px);
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 0.5em;
    border-radius: 0.5em;
}
@keyframes botaoAlerta {
    0%, 50% {
        color: #FD0;
        background-color: #000;
    }
    51%, 100% {
        color: #000;
        background-color: #FD0;
    }
}