body {
    margin: 0px;
    background: #EEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#controle {
    background: #FFF;
    position: absolute;
    top: 0px;
    width: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 1px;
    padding: 10px;
    outline: none;
    transition: 0.2s;
}

button:hover {
    background-color: #EEE;
}

button:active {
    background-color: #CCC;
}

#conteudo {
    margin: 3em 1em;
    padding: 1em 0em;
    background-color: #FFF;
    box-shadow: 3px 3px 10px #0004;
}

#conteudo h1 {
    background: linear-gradient(to right, #888, #FFF);
    text-align: right;
    padding: 0em 2em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex * {
    flex-grow: 2;
    margin: 1px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form div {
    background-color: #F8F8F8;
    flex-grow: 2;
    margin: 1px;
    padding: 1em;
    display: flex;
}

form div.formSubmit {
    background-color: #C8E8F8;
    flex-basis: 100%;
}

form div p {
    display: inline-block;
    width: 10em;
    text-align: right;
    margin: 0em 1em;
}

form div input {
    flex-grow: 2;
}

input[type="text"] {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #DDD;
}